button {
	width: 250px;
	height: 80px;
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	font-weight: bold;
	color: rgb(14, 13, 13);
	border: 2px solid white;
	border-radius: 15px;
	margin: 5px;
	cursor: pointer;
}

button:hover {
	background-color:whitesmoke;
}

.boton-click {
	background-color: #81d4fa ;
}

.boton-reiniciar {
	background-color: #80cbc4  ;
}